################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToyManagementProject/.vs/ToyManagementProject/FileContentIndex
/ToyManagementProject/.vs/ToyManagementProject/v17/DocumentLayout.json
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.API.dll
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.API.exe
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.API.pdb
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Domain.pdb
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Infra.Data.pdb
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Services.dll
/ToyManagementProject/ToyManagementProject.API/bin/Debug/net8.0/ToyManagementProject.Services.pdb
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/refint/ToyManagementProject.API.dll
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ref/ToyManagementProject.API.dll
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/apphost.exe
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.AssemblyInfo.cs
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.AssemblyInfoInputs.cache
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.csproj.AssemblyReference.cache
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.dll
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.pdb
/ToyManagementProject/ToyManagementProject.API/obj/Debug/net8.0/ToyManagementProject.API.sourcelink.json
/ToyManagementProject/ToyManagementProject.Domain/bin/Debug/net8.0/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Domain/bin/Debug/net8.0/ToyManagementProject.Domain.pdb
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ref/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/refint/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ToyManagementProject.Domain.AssemblyInfo.cs
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ToyManagementProject.Domain.AssemblyInfoInputs.cache
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ToyManagementProject.Domain.pdb
/ToyManagementProject/ToyManagementProject.Domain/obj/Debug/net8.0/ToyManagementProject.Domain.sourcelink.json
/ToyManagementProject/ToyManagementProject.Infra.Data/bin/Debug/net8.0/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Infra.Data/bin/Debug/net8.0/ToyManagementProject.Domain.pdb
/ToyManagementProject/ToyManagementProject.Infra.Data/bin/Debug/net8.0/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.Infra.Data/bin/Debug/net8.0/ToyManagementProject.Infra.Data.pdb
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ref/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/refint/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.AssemblyInfo.cs
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.AssemblyInfoInputs.cache
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.csproj.AssemblyReference.cache
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.pdb
/ToyManagementProject/ToyManagementProject.Infra.Data/obj/Debug/net8.0/ToyManagementProject.Infra.Data.sourcelink.json
/ToyManagementProject/.vs/ToyManagementProject/v17/.suo
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/refint/ToyManagementProject.Services.dll
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.AssemblyInfo.cs
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.AssemblyInfoInputs.cache
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.csproj.AssemblyReference.cache
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.dll
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.pdb
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ToyManagementProject.Services.sourcelink.json
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Domain.dll
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Domain.pdb
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Infra.Data.dll
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Infra.Data.pdb
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Services.dll
/ToyManagementProject/ToyManagementProject.Services/bin/Debug/net8.0/ToyManagementProject.Services.pdb
/ToyManagementProject/ToyManagementProject.Services/obj/Debug/net8.0/ref/ToyManagementProject.Services.dll
